{
  "presets": ["next/babel"],
  "plugins": [
    ["ramda", { "useES": true }],
    ["react-require"],
    ["implicit-function"],
    ["babel-plugin-macros"],
    ["babel-plugin-root-import", {
      "paths": [ 
        { "rootPathSuffix": "./src/components", "rootPathPrefix": "#/" },
        { "rootPathSuffix": "./src/utils", "rootPathPrefix": "!/" },
      ]
    }],
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "fsharp" }],
    ["@babel/plugin-proposal-logical-assignment-operators"]
  ]
}
