{
  "presets": ["next/babel"],
  "plugins": [
    ["ramda"],
    ["react-require"],
    ["implicit-function"],
    ["jsx-control-statements"],
    ["babel-plugin-macros"],
    ["babel-plugin-root-import", {
      "paths": [
        { "rootPathSuffix": "./src/app/firebase", "rootPathPrefix": "@fire/" },
        { "rootPathSuffix": "./src/app/components", "rootPathPrefix": "@c/" },
        { "rootPathSuffix": "./src/app/elements", "rootPathPrefix": "@e/" },
        { "rootPathSuffix": "./src/app/store", "rootPathPrefix": "@R/" },
        { "rootPathSuffix": "./src/app/utils", "rootPathPrefix": "@u/" },
        { "rootPathSuffix": "./src/app/copy", "rootPathPrefix": "@d/" }
      ]
    }],
    ["@loadable/babel-plugin"],
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "fsharp" }],
    ["@babel/plugin-proposal-logical-assignment-operators"],
    ["@babel/plugin-proposal-optional-chaining"],
    ["babel-plugin-styled-components", { "ssr": true, "displayName": true }]
  ]
}
