{
  "presets": ["next/babel"],
  "plugins": [
    ["ramda", { "useES": true }],
    ["react-require"],
    ["implicit-function"],
    ["jsx-control-statements"],
    ["babel-plugin-macros"],
    ["babel-plugin-root-import", {
      "paths": [
        { "rootPathSuffix": "./src/components", "rootPathPrefix": "@c/" },
        { "rootPathSuffix": "./src/utils", "rootPathPrefix": "@u/" },
        { "rootPathSuffix": "./src/copy", "rootPathPrefix": "@d/" }
      ]
    }],
    ["@loadable/babel-plugin"],
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "fsharp" }],
    ["@babel/plugin-proposal-logical-assignment-operators"],
    ["@babel/plugin-proposal-optional-chaining"]
  ]
}
