{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "standard",
    "standard-jsx",
    "plugin:ramda/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:jsx-control-statements/recommended"
  ],
  "plugins": [
    "jsx-a11y",
    "jsx-control-statements",
    "react",
    "react-hooks",
    "no-secrets",
    "no-loops",
    "immutable",
    "unicorn",
    "ramda"
  ],
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "unicorn/filename-case": ["error", { "case": "kebabCase" }],
    "react/jsx-no-undef": ["error", { "allowGlobals": true }],
    "react/jsx-max-props-per-line": ["error", { "maximum": 1 }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "jsx-control-statements/jsx-use-if-tag": 0,
    "no-secrets/no-secrets": "error",
    "no-loops/no-loops": "error", 
    "immutable/no-let": "error",
    "immutable/no-this": "error"
  }
}
