{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-jsx",
    "plugin:ramda/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:jsx-control-statements/recommended"
  ],
  "plugins": [
    "jsx-a11y",
    "jsx-control-statements",
    "react-hooks",
    "no-secrets",
    "no-loops", 
    "immutable",
    "ramda"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-secrets/no-secrets": "error",
    "no-loops/no-loops": "error", 
    "immutable/no-let": "error",
    "immutable/no-this": "error"
  }
}
